//colours
$white: #ffffff;
$magenta: #b41e8e;
$dark-magenta: #740458;
$orange: #fbb23c;
$grey: #666666;
$dark-grey: #222222;
$purple: #4b60aa;


//fonts used
$bodycopy: 'Gotham Rounded', serif;
$headline: 'Gotham Thin', serif;

//widths
$mobile-width: 1100px;